<!DOCTYPE html>
<html>
	<head>
		<title>{{page_title}}</title>

		{{!-- scripts --}}
		<script type="text/jscript" src="{{absolute_prefix}}assets/vendor/requirejs/require.js"></script>
		<script type="text/jscript" src="{{absolute_prefix}}assets/js/main.js"></script>

		{{!-- styles --}}
		<link rel="stylesheet" href="{{absolute_prefix}}assets/css/mainb.css">

		{{!-- fonts --}}
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

	</head>
	<body>

		{{> @partial-block}}

	</body>

</html>
