<!DOCTYPE html>
<html>
	<head>
		<title>{{page_title}}</title>

		{{!-- scripts --}}
		<script type="text/jscript" src="{{absolute_prefix}}assets/vendor/requirejs/require.js"></script>
		<script type="text/jscript" src="{{absolute_prefix}}assets/js/main.js"></script>

		{{!-- styles --}}
		<!-- <link rel="stylesheet" href="{{absolute_prefix}}assets/css/main.css"> -->
		<link rel="stylesheet" href="https://cdn.rawgit.com/moshkinv/todo-ionic-local-frontend/master/www/css/main.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


		{{!-- fonts --}}
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

	</head>
	<body>

		{{> @partial-block}}

	</body>

</html>
