<!DOCTYPE html>
<html>
	<head>
		<title>{{page_title}}</title>

		{{!-- scripts --}}
		<script type="text/jscript" src="{{absolute_prefix}}assets/vendor/requirejs/require.js"></script>
		<script type="text/jscript" src="{{absolute_prefix}}assets/js/main.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


		{{!-- styles --}}
		<link rel="stylesheet" href="{{absolute_prefix}}assets/css/main.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<!-- <link rel="stylesheet" href="https://raw.githubusercontent.com/moshkinv/todo-ionic-local-frontend/master/www/css/main.css"> -->

		{{!-- fonts --}}
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

	</head>
	<body>

		{{> @partial-block}}

	</body>

</html>
